/*Abel- Navbar*/
@font-face{
	font-family: Abel;
	src:url('../vendor/fonts/Abel/Abel-Regular.ttf');
}

/* - Josefin*/
@font-face{
	font-family: Josefin;
	src:url('../vendor/fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

/* - Lexend*/
@font-face{
	font-family:Lexend;
	src:url('../vendor/fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}
